.App{
  width: 200px;
  height: max-content;
  margin: auto;
  background-color:burlywood;
  padding: 20px 15px;
  margin-top: 120px;
  border-radius: 7px;
  font-family: sans-serif;
  box-shadow: 10px 11px rgba(0, 0, 0, 0);
}
h1{
  margin: 2;
  text-align: left;
  margin-bottom: 10px;
}
.login-form{
  padding: 5px;
}
.label-formulario{
  display: inline-block;
  padding: 5px;
  margin-top: 20px;

}

.button{
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px 10px;

}